body{
  font-family: 'Oswald', sans-serif;
  margin: auto;
  background-color: #ccc;
}

#theHeader{

  /*background-color: #333;*/
  color: #ffffff;
  text-shadow: 2px 2px 4px #0000ff;
  text-align: center;
  background: url("TopBar2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;

}

#theNav{

  background-color: yellow;
  color: black;
  font-size:22px;
  padding: 14 0;

}

#main{
  color: black;
  width:85%;
  max-width: 800px;
  height:510px;
  margin: 10 auto;
  padding-top:15px;


}

#bio{
  float: left;
  width: 400px;
  height:200px;
  font-family: sans-serif;
  margin: auto 0;
}

#Description{
  width: 95%;
  height:130px;
  font-family: sans-serif;
  margin: 0 auto;
  font-size:18px;
}

#portrait{
  /*float:left;*/
  width:350;
  border-radius: 3px;
  margin:  10 auto;

}

#snap{
  /*float:left;*/
  border-radius: 3px;
  margin: auto 0;
  width: 100%;

}

#bookSnap{
  /*float:left;*/
  border-radius: 3px;
  margin: 0 auto;
  width: 400px;
  display: block;

}

#contact{
  /*float:left;*/
  margin: 50 auto;
  width: 500px;
  display: block;

  padding-left: 102;

}
#contact ul{
  list-style-type: none;
  font-size:24px;
}
nav ul{
  width: 680;
  margin:0 auto;
}

nav li {
  display: inline;
  margin: auto 20px;
}

.bigDiv{
  width: 100%;
  display: block;

}

a:visited {
  color: black;
}
a:link{
  color: black;
}
